/* GLOBAL STYLES */
.mg-t-xbg{
	margin-top: 70px;
}
.mg-b-xbg{
	margin-bottom: 70px;
}
.mg-t-bg{
	margin-top: 40px;
}
.mg-b-bg{
	margin-bottom: 40px;
}
.mg-t-sm{
	margin-top: 20px;
}
.mg-b-sm{
	margin-bottom: 20px;
}
body{
	background: @gray-lighter;
}
h1,h2,h3,h4 {
	font-weight: 400;
}


/*==========  Navigation  ==========*/
.navbar-default {
	background-color: darken(@brand-primary,10%);
	border: darken(@brand-primary,40%);
	.navbar-nav>li>a{
		color: lighten(@brand-warning,10%);
		font-size: 1em;
		&:hover{
			color: darken(@brand-warning,20%);
		}
	}
}

#header{
	background: @brand-primary;
	padding: 60px 0;
	color: @gray-lighter;
	text-shadow: 1px 1px 6px @gray-dark;
	border-bottom: 1px solid @gray-light;
	border-top: 2px solid @gray-light;
	h1 {
		font-size: 4em;
		color: @brand-warning;
		text-shadow: 1px 1px 3px #000;
	}
	a{
		font-style: italic;
		color: lighten(@brand-warning,10%);
	}
	.avatar {
		border-radius: 50%;
		border:10px solid darken(@brand-primary,10%);
		background: #fff;
		padding:2px;
		box-shadow: 1px 1px 8px #000;
	}
	.status{
		.highlight{
			font-style: italic;
			color: darken(@brand-warning,10%);
			font-size: 1em;
		}
	}
	.highlight{
		font-style: italic;
		color: lighten(@brand-warning,10%);
	}
	.fa-code{
		.rotate(13deg);
		font-size: 10em;
		color:darken(@brand-primary,10%);
		position: absolute;
	}
}
#portfolio{
	background: @gray-light url('../img/geometry.png');
	padding: 60px 0;
	color: @gray-dark;
	border-bottom: 1px solid @gray;
	h2{
		text-shadow: 1px 1px 2px @gray-lighter;
		font-size: 3em;		
		line-height: 3em;		
	}
	h4,a{
		color: darken(@brand-warning,10%);
		text-shadow:1px 1px 3px @gray;
	}
	hr{
		width: 60%;
		background: @gray;
		margin: 50px auto;
	}
	img{
		border: 2px solid  @gray-dark;
	}
	.fa-code-fork{
		.rotate(13deg);
		font-size: 30em;
		color:@gray-light;
		position: absolute;
	}
}
#contact{
	background: @brand-warning;
	padding: 60px 0;
	color: @gray-dark;
	border-bottom: 1px solid @gray;
}
#footer{
	background: @gray-dark;
	padding: 10px 0;
	border-top: 1px solid @gray;
	img {width: 30px; margin: 0 8px;}
}
